<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <h4>LOBBY CHAT</h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <%= link_to '#', { remote: true, class: 'btn btn-success btn-sm active' } do %>
              <span class="glyphicon glyphicon-thumbs-up"></span> Ready
            <% end %>
            <%= link_to '#', { remote: true, class: 'btn btn-danger btn-sm' } do %>
              <span class="glyphicon glyphicon-thumbs-down"></span> Not Ready
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" id="messages" data-chat-room-id="<%= @chat_room.id %>">
          <%= render @chat_room.messages %>
        </div>
      </div>
      <div class="panel-footer">
        <%= bootstrap_form_for @message, url: '#' do |f| %>
            <%= f.text_area :body, label: 'Message' %>
            <%= f.submit 'Send' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h4>ONLINE USERS</h4>
    <div id="active_users">
      <%= render partial: 'active_users', locals: { users: nil } %>
    </div>
  </div>
</div>
