<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <h4>RECORD IN-HOUSE MATCH</h4>
    <div class="well well-sm">
      <p>
        This form is used for recording an in-hosue match. For each user referenced here, ELO calculations will be
        performed to adjust the ELO score for each user. Only users who have logged into this site will appear here.
      </p>
      <p>
        Also note that we perform display name updates once every hour. If a user changes their name before the next
        refresh you will need to search for them by their OLD display name.
      </p>
    </div>
    <%= bootstrap_form_tag url: create_inhouse_match_admin_path do |f| %>
      <%= f.hidden_field_tag :winner_1, '' %>
      <%= f.hidden_field_tag :winner_2, '' %>
      <%= f.hidden_field_tag :winner_3, '' %>
      <%= f.hidden_field_tag :winner_4, '' %>
      <%= f.hidden_field_tag :winner_5, '' %>
      <%= f.hidden_field_tag :loser_1, '' %>
      <%= f.hidden_field_tag :loser_2, '' %>
      <%= f.hidden_field_tag :loser_3, '' %>
      <%= f.hidden_field_tag :loser_4, '' %>
      <%= f.hidden_field_tag :loser_5, '' %>
      <fieldset>
        <legend>Winners</legend>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_winner_1" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#winner_1" />
        </div>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_winner_2" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#winner_2" />
        </div>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_winner_3" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#winner_3" />
        </div>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_winner_4" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#winner_4" />
        </div>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_winner_5" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#winner_5" />
        </div>
      </fieldset>
      <fieldset>
        <legend>Losers</legend>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_loser_1" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#loser_1" />
        </div>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_loser_2" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#loser_2" />
        </div>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_loser_3" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#loser_3" />
        </div>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_loser_4" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#loser_4" />
        </div>
        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" name="auto_loser_5" data-autocomplete="/admin/autocomplete_user_personaname" data-id-element="#loser_5" />
        </div>
      </fieldset>
      <fieldset>
        <legend>Optional</legend>
        <div class="form-group">
          <label>Match Screenshot</label>
          <%= f.file_field :screenshot, hide_label: true, name: 'inhouse_match[screenshot]' %>
        </div>
        <div class="form-group">
          <label>Match ID</label>
          <%= f.text_field :match_id, hide_label: true, name: 'inhouse_match[match_id]' %>
        </div>
      </fieldset>
      <div class="text-right">
        <%= f.submit 'Record Match' %>
      </div>
    <% end %>

  </div>
</div>