<div class="row wrapper border-bottom white-bg page-heading" xmlns:div="http://www.w3.org/1999/html">
  <div class="col-lg-10">
    <h2>Player Profile</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'Players', index_players_path %>
      </li>
      <li class="active">
        <strong><%= @player.personaname %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
      <div class="profile-image">
        <%= image_tag @player.avatar, class: 'img-circle circle-border m-b-md' %>
      </div>
      <div class="profile-info">
        <div>
          <div>
            <h2 class="no-margins"><%= @player.personaname %></h2>
            <h4>
              <% if @player.team_id != nil && @player.team_join_approved %>
                <% if @player.team_captain %>
                  <span class="text-info">Captain</span> of team <%= @player.team.name %>
                <% else %>
                  Player on team <%= @player.team.name %>
                <% end %>
              <% else %>
              Currently not on a team
              <% end %>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3 text-right">
      <div class="widget style1">
        <div class="row">
          <div class="col-xs-4 text-center"><i class="fa fa-trophy fa-5x"></i></div>
          <div class="col-xs-8 text-right">
            <span>Medal Tier</span>
            <h2 class="font-bold">
              <% if !@rank_info.nil? %>
                  <%= @rank_info['medal']['name'] %> <%= @rank_info['stars'] %>
              <% else %>
                  Uncalibrated
              <% end %>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h3>About</h3>
          <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
              <span class="pull-right">
                <% if @player.team_id != nil && @player.team_join_approved %>
                  <%= link_to @player.team.name, team_path(@player.team) %>
                <% else %>
                  No team
                <% end %>
              </span>
              Team
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                <% if @player.team_id != nil && @player.team_join_approved %>
                  <% if @player.team_captain %>
                    <span class="label label-info">Captain</span>
                  <% end %>
                  <% if @player.team_admin %>
                    <span class="label label-primary">Admin</span>
                  <% end %>
                  <% if !@player.team_captain || !@player.team_admin %>
                    <span class="label label-default">Player</span>
                  <% end %>
                <% else %>
                  N/A
                <% end %>
              </span>
              Team role
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                <% if @player.is_global_admin %>
                  <span class="label label-danger">Global Admin</span>
                <% end %>
                <% if @player.is_league_admin %>
                  <span class="label label-danger">Admin</span>
                <% end %>
                <% if @player.is_league_caster %>
                  <span class="label label-success">Caster</span>
                <% end %>
              </span>
              League role
            </li>
            <li class="list-group-item">
              <span class="pull-right">
                <%= link_to 'Dotabuff', "https://www.dotabuff.com/players/#{@player.get_short_steamid}/", target: :_blank %> /
                <%= link_to 'OpenDota', "https://www.opendota.com/players/#{@player.get_short_steamid}/", target: :_blank %> /
                <%= link_to 'Steam', @player.profileurl, target: :_blank %>
              </span>
              Profiles
            </li>
            <% if @player.inhouse %>
            <li class="list-group-item">
              <span class="pull-right text-info">
                Yes
              </span>
              In-house Participant
            </li>
            <% end %>
            <% if @player.free_agent %>
            <li class="list-group-item">
              <span class="pull-right text-info">
                Yes
              </span>
              Looking for team
            </li>
            <% end %>
            <% if !@player.position.nil? %>
            <li class="list-group-item">
              <span class="pull-right text-info">
                <%= translate_role_number_to_string(@player.position.to_i) %>
              </span>
              Position
            </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="ibox">
        <div class="ibox-content">
          <h3>Biography</h3>
          <% if @player.biography.nil? %>
            <div class="alert alert-info">Player has not provided a biography.</div>
          <% else %>
            <%= simple_format(@player.biography, class: 'small', sanitize: true) %>
          <% end %>
        </div>
      </div>

      <div class="ibox">
        <div class="ibox-content">
          <h3>Teammates</h3>
          <% if !@player.team_id.nil? && @player.team_join_approved %>
          <p class="small">Click an avatar to view player profile</p>
          <div class="user-friends">
            <% @player.team.users.where(team_join_approved: true).each do |user| %>
              <% if user.id != @player.id %>
                <%= link_to image_tag(user.avatar, class: 'img-circle', data: { toggle: 'tooltip', placement: 'top'}, title: user.personaname), show_player_path(user.steamid) %>
              <% end %>
            <% end %>
          </div>
          <% else %>
          <p class="small">Player has not joined a team.</p>
          <% end %>
        </div>
      </div>


    </div>

    <div class="col-lg-5">

      <div class="ibox">
        <div class="ibox-content">
          <h3>Recent League Matches</h3>
          <div class="alert alert-info">User has not played any league matches</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 m-b-lg">

      <% if !@safe_win_pct.nil? || !@mid_win_pct.nil? || !@off_win_pct.nil? || !@jungle_win_pct.nil? %>
      <h3>Win Rate By Lane</h3>
      <div class="row">

        <% if !@safe_win_pct.nil? %>
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-content">
              <h5>Safe</h5>
              <h2><%= @safe_win_pct %>%</h2>
              <div class="progress progress-mini">
                <div style="width: <%= @safe_win_pct %>%;" class="progress-bar <%= @safe_win_pct < 50 ? 'progress-bar-danger' : '' %>"></div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <% if !@mid_win_pct.nil? %>
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-content">
              <h5>Mid</h5>
              <h2><%= @mid_win_pct %>%</h2>
              <div class="progress progress-mini">
                <div style="width: <%= @mid_win_pct %>%;" class="progress-bar <%= @mid_win_pct < 50 ? 'progress-bar-danger' : '' %>"></div>
              </div>
            </div>
          </div>
        </div>
        <% end %>


        <% if !@off_win_pct.nil? %>
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-content">
              <h5>Off</h5>
              <h2><%= @off_win_pct %>%</h2>
              <div class="progress progress-mini">
                <div style="width: <%= @off_win_pct %>%;" class="progress-bar <%= @off_win_pct < 50 ? 'progress-bar-danger' : '' %>"></div>
              </div>
            </div>
          </div>
        </div>
        <% end %>


        <% if !@jungle_win_pct.nil? %>
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-content">
              <h5>Jungle</h5>
              <h2><%= @jungle_win_pct %>%</h2>
              <div class="progress progress-mini">
                <div style="width: <%= @jungle_win_pct %>%;" class="progress-bar <%= @jungle_win_pct < 50 ? 'progress-bar-danger' : '' %>"></div>
              </div>
            </div>
          </div>
        </div>
        <% end %>


      </div>
      <% end %>

      <div class="ibox">
        <div class="ibox-content">
          <h3>Most Played Heroes</h3>
          <% if @player.user_heroes.count > 0 %>
          <div>
            <% @player.user_heroes.order('games DESC').limit(5).each do |hero| %>
            <div class="row m-b-sm">
              <div class="col-md-4">
                <%= image_tag "/assets/heroes/#{hero.hero[:image]}.png", class: 'img-responsive', style: 'height: 40px;', data: { toggle: 'tooltip', placement: 'left' }, title: hero.hero[:localized_name] %>
              </div>
              <div class="col-md-8">
                <% win_rate = ((hero[:win].to_f / hero[:games].to_f) * 100 ).round %>
                <small><%= win_rate %>% win - <%= "#{hero[:games]} games" %></small>
                <div class="progress progress-mini">
                  <div style="width: <%= win_rate %>%;" class="progress-bar"></div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% else %>
          <div class="alert alert-info">No match data loaded for this player.</div>
          <% end %>
        </div>
      </div>

      <div class="ibox">
        <div class="ibox-content">
          <h3>Most Successful Heroes <small> - more than 20 games</small></h3>
          <% if @top_heroes.count > 0 %>
          <% @top_heroes.each do |hero| %>
          <div class="row m-b-sm">
            <div class="col-md-4">
              <%= image_tag "/assets/heroes/#{hero.hero[:image]}.png", class: 'img-responsive', style: 'height: 40px;',  data: { toggle: 'tooltip', placement: 'left' }, title: hero.hero[:localized_name] %>
            </div>
            <div class="col-md-8">
              <% win_rate = ((hero[:win].to_f / hero[:games].to_f) * 100 ).round %>
              <small><%= win_rate %>% wins - <%= "#{hero[:games]} games" %></small>
              <div class="progress progress-mini">
                <div style="width: <%= win_rate %>%;" class="progress-bar"></div>
              </div>
            </div>
          </div>
          <% end %>
          <% else %>
              <div class="alert alert-info">No match data loaded for this player.</div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>