<!DOCTYPE html>
<html>
  <head>
    <title>DotA 2 Trench League</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>jQuery.timeago.settings.allowFuture = true;</script>
  </head>

  <body>
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

      <!-- Navigation -->
      <%= render 'layouts/navigation' %>

      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <!-- Main view  -->
        <%= yield %>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

      </div>
      <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <%= yield :javascript %>
    <script type="text/javascript">
      $(function() {
          toastr.options = {
              "closeButton": true,
              "debug": false,
              "progressBar": true,
              "preventDuplicates": false,
              "positionClass": "toast-top-right",
              "onclick": null,
              "showDuration": "400",
              "hideDuration": "1000",
              "timeOut": "10000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
          }
          <% flash.each do |key,msg| %>
          <% case key %>
          <% when 'danger' %>
            toastr.error("<%= msg %>");
          <% when 'success' %>
          toastr.success("<%= msg %>");
          <% when 'warning' %>
          toastr.warning("<%= msg %>");
          <% end %>
          <% end %>
      });
    </script>
  </body>
</html>
